.report-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    color:black;
  }
  
  .report-container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .report-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color:black;
  }
  .load{
    color:black;
  }
  .report-container th, .report-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .report-container th {
    background-color: #007bff;
    color: white;
  }
  
  .download-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .download-buttons button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .download-buttons button:hover {
    background-color: #218838;
  }
  